nostr.nateeatschicken.xyz {
    root * /srv

    @kofi_api {
        path /kofi-webhook /claim-handle
    }
    handle @kofi_api {
        reverse_proxy 172.17.0.1:5000
    }

    file_server
}

relay.nateeatschicken.xyz {
    reverse_proxy relay:8080
}

dev.nostr.nateeatschicken.xyz {
    basic_auth {
        nate $2a$14$zIrdd/lExo0C41y4hWHireOa/XUCSJd6NEDE02b8GoLB1g.QErYpa
    }

    reverse_proxy openvscode-server:3000
}
