nostr.nateeatschicken.xyz {
    @kofi_webhook {
        path /kofi-webhook
    }

    handle @kofi_webhook {
        reverse_proxy 172.17.0.1:5000
    }

    handle_path /claim {
        rewrite * /claim.html
        file_server
    }

    root * /opt/nostr/site
    file_server

    handle_path /.well-known/* {
        root * /opt/nostr/site/.well-known
        file_server
    }

    # ...leave the rest of the block as it is...
}

relay.nateeatschicken.xyz {
    reverse_proxy relay:8080
}

dev.nostr.nateeatschicken.xyz {
    basic_auth {
        nate $2a$14$zIrdd/lExo0C41y4hWHireOa/XUCSJd6NEDE02b8GoLB1g.QErYpa
    }

    reverse_proxy openvscode-server:3000
}
